body {
    margin: 52px;
    
    background: #1F2937;
}
#white
{
    color:white;
}
#green{
    color:#4adf86;
}
h1{
    margin:0px;
    font-weight: bold;
    font-family: 'Karla', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    margin-top: 20px;
    font-family: 'Inter', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-weight: lighter;
}
.green-button
{
    margin-top: 20px;
    font-family: 'Inter', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:#10B981;
    color:white;
    border-width: 0px;
    padding: 9px 17px 9px 15px;
    
    border-radius: 6px;
    outline: none;
}

hr{
    margin-top: 35px;
    width: 446px;
    height: 0px;
    margin-left: 0px;
    border: 1px solid #2F3E53;
}

.pass1{
    margin-right: 24px;
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    border:0px;
    color:white;
    letter-spacing:1px;
}
.pass2{
    margin-right: 24px;
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    border:0px;
    color:white;
    letter-spacing:1px;
    }
div{
    padding-top: 35px;
}